 .u-section-1 {
  background-image: url("images/693900962-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 460px;
}

.u-section-1 .u-text-1 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  font-size: 4.5rem;
  margin: 168px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 379px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 290px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 81px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 201px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 737px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  margin: 90px 0 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 488px;
}

.u-section-2 .u-container-layout-1 {
  padding: 29px 20px;
}

.u-section-2 .u-icon-1 {
  height: 35px;
  width: 35px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 1px auto 0 0;
}

.u-section-2 .u-group-1 {
  width: 256px;
  min-height: 179px;
  margin: -64px 0 -1px auto;
}

.u-section-2 .u-container-layout-2 {
  padding-right: 14px;
  padding-left: 14px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin: 0 auto 0 1px;
}

.u-section-2 .u-text-3 {
  font-size: 0.75rem;
  margin: 20px 1px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 29px 20px;
}

.u-section-2 .u-icon-5 {
  height: 35px;
  width: 35px;
  background-image: none;
  color: rgb(92, 224, 216) !important;
  margin: 1px auto 0 0;
}

.u-section-2 .u-group-2 {
  width: 256px;
  min-height: 179px;
  background-size: auto;
  margin: -64px 0 -1px auto;
}

.u-section-2 .u-container-layout-4 {
  padding-right: 14px;
  padding-left: 14px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin: 0 auto 0 1px;
}

.u-section-2 .u-text-5 {
  font-size: 0.75rem;
  margin: 20px 25px 0 1px;
}

.u-section-2 .u-container-layout-5 {
  padding: 29px 20px;
}

.u-section-2 .u-icon-9 {
  height: 35px;
  width: 35px;
  background-image: none;
  color: rgb(92, 224, 216) !important;
  margin: 1px auto 0 0;
}

.u-section-2 .u-group-3 {
  width: 256px;
  min-height: 179px;
  background-size: auto;
  margin: -64px 0 -1px auto;
}

.u-section-2 .u-container-layout-6 {
  padding-right: 14px;
  padding-left: 14px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin: 0 auto 0 1px;
}

.u-section-2 .u-text-7 {
  font-size: 0.75rem;
  margin: 20px 25px 0 1px;
}

.u-section-2 .u-container-layout-7 {
  padding: 29px 20px;
}

.u-section-2 .u-icon-13 {
  height: 35px;
  width: 35px;
  background-image: none;
  color: rgb(92, 224, 216) !important;
  margin: 1px auto 0 0;
}

.u-section-2 .u-group-4 {
  width: 256px;
  min-height: 179px;
  background-size: auto;
  margin: -64px 0 -1px auto;
}

.u-section-2 .u-container-layout-8 {
  padding-right: 14px;
  padding-left: 14px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin: 0 auto 0 1px;
}

.u-section-2 .u-text-9 {
  font-size: 0.75rem;
  margin: 20px 9px 0 1px;
}

.u-section-2 .u-container-layout-9 {
  padding: 29px 20px;
}

.u-section-2 .u-icon-16 {
  height: 35px;
  width: 35px;
  background-image: none;
  color: rgb(92, 224, 216) !important;
  margin: 1px auto 0 0;
}

.u-section-2 .u-group-5 {
  width: 256px;
  min-height: 179px;
  background-size: auto;
  margin: -64px 0 -1px auto;
}

.u-section-2 .u-container-layout-10 {
  padding-right: 14px;
  padding-left: 14px;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin: 0 auto 0 1px;
}

.u-section-2 .u-text-11 {
  font-size: 0.75rem;
  margin: 20px 9px 0 1px;
}

.u-section-2 .u-container-layout-11 {
  padding: 29px 20px;
}

.u-section-2 .u-icon-19 {
  height: 35px;
  width: 35px;
  background-image: none;
  color: rgb(92, 224, 216) !important;
  margin: 1px auto 0 0;
}

.u-section-2 .u-group-6 {
  width: 256px;
  min-height: 179px;
  background-size: auto;
  margin: -64px 0 -1px auto;
}

.u-section-2 .u-container-layout-12 {
  padding-right: 14px;
  padding-left: 14px;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin: 0 auto 0 1px;
}

.u-section-2 .u-text-13 {
  font-size: 0.75rem;
  margin: 20px 9px 0 1px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-group-2 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-group-3 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-group-4 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-group-5 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-group-6 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 951px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 29px;
  }

  .u-section-2 .u-group-1 {
    width: 263px;
    min-height: 189px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-2 .u-icon-5 {
    margin-top: 29px;
  }

  .u-section-2 .u-group-2 {
    width: 263px;
    min-height: 189px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-2 .u-icon-9 {
    margin-top: 29px;
  }

  .u-section-2 .u-group-3 {
    width: 263px;
    min-height: 189px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-2 .u-icon-13 {
    margin-top: 29px;
  }

  .u-section-2 .u-group-4 {
    width: 263px;
    min-height: 189px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-2 .u-icon-16 {
    margin-top: 29px;
  }

  .u-section-2 .u-group-5 {
    width: 263px;
    min-height: 189px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-2 .u-icon-19 {
    margin-top: 29px;
  }

  .u-section-2 .u-group-6 {
    width: 263px;
    min-height: 189px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    margin-top: 115px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-1 {
    width: 443px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    width: 443px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-3 {
    width: 443px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-4 {
    width: 443px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-5 {
    width: 443px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-6 {
    width: 443px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 260px;
    min-height: 169px;
  }

  .u-section-2 .u-group-2 {
    width: 260px;
    min-height: 169px;
  }

  .u-section-2 .u-group-3 {
    width: 260px;
    min-height: 169px;
  }

  .u-section-2 .u-group-4 {
    width: 260px;
    min-height: 169px;
  }

  .u-section-2 .u-group-5 {
    width: 260px;
    min-height: 169px;
  }

  .u-section-2 .u-group-6 {
    width: 260px;
    min-height: 169px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/hgghhggh-min.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 708px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1058px;
  margin: 55px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 598px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  text-transform: none;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 28px 0 0;
}

.u-section-3 .u-social-icons-1 {
  height: 31px;
  min-height: 16px;
  width: 195px;
  min-width: 120px;
  white-space: nowrap;
  margin: 42px auto 0 0;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-icon-4 {
  height: 100%;
}

.u-section-3 .u-icon-5 {
  height: 100%;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 598px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-3 .u-form-1 {
  height: 464px;
  width: 429px;
  margin: 0;
}

.u-section-3 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-3 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-3 .u-form-group-3 {
  margin-left: 0;
  font-size: 1rem;
  text-transform: none;
}

.u-section-3 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-3 .u-input-4 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-3 .u-btn-1 {
  font-size: 1.125rem;
  letter-spacing: 3px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 478px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 532px;
  }

  .u-section-3 .u-form-1 {
    width: 417px;
    margin-top: 4px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 528px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-form-1 {
    width: 336px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-form-1 {
    width: 440px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-form-1 {
    width: 300px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 378px;
}

.u-section-4 .u-group-1 {
  width: 741px;
  min-height: 361px;
  margin: 0 auto 17px;
}

.u-section-4 .u-image-1 {
  width: 135px;
  height: 106px;
  margin: 29px auto 0;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 25px 20px 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 20px 29px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 611px;
  }

  .u-section-4 .u-image-1 {
    width: 111px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 468px;
  }

  .u-section-4 .u-image-1 {
    width: 85px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 439px;
  }

  .u-section-4 .u-image-1 {
    width: 80px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    width: 67px;
    height: 53px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
}