 .u-section-1 {
  background-image: url("images/pexelsphoto931887.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 700px;
}

.u-section-1 .u-group-1 {
  width: 732px;
  min-height: 634px;
  margin: 98px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-right: 20px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  animation-duration: 1000ms;
  margin: 33px 0 0 20px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 20px 0 0 298px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px 0 0 auto;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 577px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 8px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 286px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 116px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 276px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 348px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 16px;
}

.u-section-2 .u-icon-1 {
  height: 50px;
  width: 50px;
  margin: 79px auto 0;
}

.u-section-2 .u-text-1 {
  margin: 21px 20px 0;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  margin: 23px 20px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 348px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 0;
}

.u-section-2 .u-icon-2 {
  height: 50px;
  width: 50px;
  margin: 79px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 7px 0;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  margin: 23px 7px 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 348px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 0;
}

.u-section-2 .u-icon-3 {
  height: 50px;
  width: 50px;
  margin: 71px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 28px 14px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 0.875rem;
  margin: 23px 7px 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 348px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-icon-4 {
  height: 50px;
  width: 50px;
  color: rgb(0, 0, 0) !important;
  margin: 71px 110px 0 auto;
}

.u-section-2 .u-text-7 {
  margin: 28px 20px 0;
}

.u-section-2 .u-text-8 {
  font-size: 0.875rem;
  margin: 23px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 320px;
  }

  .u-section-2 .u-icon-1 {
    height: 41px;
    width: 41px;
    margin-top: 51px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-top: 48px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 320px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-2 {
    height: 41px;
    width: 41px;
    color: rgb(255, 255, 255) !important;
    margin-top: 55px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 50px;
    margin-right: 14px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 320px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-icon-3 {
    height: 41px;
    width: 41px;
    margin-top: 55px;
    margin-left: 90px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 51px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 11px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 320px;
  }

  .u-section-2 .u-icon-4 {
    height: 41px;
    width: 41px;
    margin-top: 51px;
    margin-right: auto;
    margin-left: 90px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    position: relative;
    margin-top: 55px;
    margin-right: 28px;
    margin-left: 44px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 7px;
    margin-left: 17px;
    margin-right: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 156px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 267px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-icon-1 {
    height: 50px;
    width: 50px;
    margin-top: 72px;
    margin-left: 155px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 16px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 21px;
    margin-right: 21px;
    margin-left: 40px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 267px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-icon-2 {
    height: 50px;
    width: 50px;
    margin-top: 63px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 25px;
    margin-right: 3px;
    margin-left: 19px;
    position: relative;
  }

  .u-section-2 .u-text-4 {
    margin-top: 21px;
    margin-left: 19px;
    margin-right: 19px;
    position: relative;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 317px;
  }

  .u-section-2 .u-icon-3 {
    height: 50px;
    width: 50px;
    margin-top: 52px;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 44px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 317px;
  }

  .u-section-2 .u-icon-4 {
    height: 50px;
    width: 50px;
    margin-left: auto;
  }

  .u-section-2 .u-text-7 {
    margin-top: 45px;
    margin-left: -2px;
    margin-right: -2px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 23px;
    margin-left: 11px;
    position: relative;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 256px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 165px;
  }

  .u-section-2 .u-icon-1 {
    height: 45px;
    width: 45px;
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 8px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    width: 280px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 212px;
  }

  .u-section-2 .u-icon-2 {
    height: 45px;
    width: 45px;
    margin-top: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 9px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-4 {
    width: 302px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 207px;
  }

  .u-section-2 .u-icon-3 {
    height: 45px;
    width: 45px;
    margin-top: 35px;
  }

  .u-section-2 .u-text-5 {
    position: relative;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 12px;
    margin-right: 108px;
    margin-left: 88px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 243px;
  }

  .u-section-2 .u-icon-4 {
    height: 45px;
    width: 45px;
    color: rgb(255, 255, 255) !important;
    margin-top: 46px;
  }

  .u-section-2 .u-text-7 {
    width: 341px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-8 {
    width: 305px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 200px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-text-5 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-2 .u-text-6 {
    margin-right: -3px;
    margin-left: 3px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 49px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 20px;
    margin-right: 8px;
    margin-left: -8px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 12px;
    margin-right: 26px;
    margin-left: 10px;
  }
} .u-section-3 {
  min-height: 469px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(92,224,216,0.5), rgba(92,224,216,0.5)), url("images/pexelsphoto806835.jpeg");
  min-height: 469px;
  background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 469px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding-right: 79px;
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  margin: 67px 34px 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 57px 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  margin: 35px auto 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 505px;
  }

  .u-section-3 .u-image-1 {
    min-height: 505px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 505px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 76px;
    margin-right: -14px;
    margin-left: 65px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 31px;
    margin-right: -8px;
    margin-left: 71px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 31px;
    margin-left: 186px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 435px;
  }

  .u-section-3 .u-image-1 {
    min-height: 387px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 42px;
    margin-right: 61px;
    margin-left: 32px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 0;
    margin-right: 75px;
    margin-left: 46px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 18px;
    margin-left: 116px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 603px;
  }

  .u-section-3 .u-image-1 {
    min-height: 581px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 360px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 32px;
    margin-right: 110px;
    margin-left: 132px;
  }

  .u-section-3 .u-text-2 {
    width: 430px;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 16px;
    margin-right: 235px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 769px;
  }

  .u-section-3 .u-image-1 {
    min-height: 366px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 403px;
  }

  .u-section-3 .u-text-1 {
    width: 347px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    width: 347px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: auto;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/pexelsphoto1449052.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 428px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: normal;
  margin: 20px 149px 0 167px;
}

.u-section-4 .u-text-3 {
  width: 764px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-4 {
  font-weight: normal;
  margin: 20px 149px 60px 174px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 49px;
    margin-left: 67px;
    width: 764px;
  }

  .u-section-4 .u-text-3 {
    margin-bottom: 60px;
  }

  .u-section-4 .u-text-4 {
    width: 764px;
    margin-left: 74px;
    margin-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 270px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
    width: 720px;
  }

  .u-section-4 .u-text-3 {
    width: 720px;
  }

  .u-section-4 .u-text-4 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-text-3 {
    width: 540px;
  }

  .u-section-4 .u-text-4 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 128px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-text-3 {
    width: 340px;
  }

  .u-section-4 .u-text-4 {
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 544px;
}

.u-section-5 .u-group-1 {
  min-height: 484px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 31px;
  padding-right: 31px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 0 60px;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1108px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 122px auto 122px 0;
}

.u-section-6 .u-image-1 {
  background-image: url("images/pexelsphoto864994.jpeg");
  min-height: 442px;
  background-position: 50% 50%;
}

.u-section-6 .u-layout-cell-2 {
  background-image: none;
  min-height: 442px;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 30px;
}

.u-section-6 .u-image-2 {
  background-image: url("images/pexelsphoto1043514.jpeg");
  min-height: 295px;
  background-position: 50% 50%;
}

.u-section-6 .u-image-3 {
  min-height: 296px;
  background-image: url("images/pexelsphoto1451449.jpeg");
  background-position: 50% 50%;
  margin-top: 0;
}

.u-section-6 .u-image-4 {
  background-image: url("images/pexelsphoto1024248.jpeg");
  min-height: 293px;
  background-position: 50% 50%;
}

.u-section-6 .u-layout-cell-6 {
  min-height: 442px;
  background-image: none;
}

.u-section-6 .u-container-layout-6 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-6 .u-text-4 {
  margin: 20px 0 30px;
}

.u-section-6 .u-image-5 {
  min-height: 442px;
  background-image: url("images/pexelsphoto999267.jpeg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
  }

  .u-section-6 .u-text-2 {
    position: relative;
  }

  .u-section-6 .u-image-2 {
    min-height: 298px;
  }

  .u-section-6 .u-image-3 {
    min-height: 288px;
  }

  .u-section-6 .u-image-4 {
    min-height: 298px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-text-3 {
    position: relative;
  }

  .u-section-6 .u-text-4 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: auto;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 6px;
    padding-right: 6px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 434px;
}

.u-section-7 .u-group-1 {
  min-height: 177px;
  width: 802px;
  margin: 60px auto 0;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 31px;
  padding-right: 31px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  margin: 15px 60px 0;
}

.u-section-7 .u-text-2 {
  width: 614px;
  margin: 20px auto 15px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1116px;
  margin: 33px auto 0 12px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 95px;
}

.u-section-7 .u-image-1 {
  width: 186px;
  height: 48px;
  margin: 18px 0 0 auto;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 94px;
  background-position: 0% 0%;
}

.u-section-7 .u-image-2 {
  width: 173px;
  height: 47px;
  margin: 9px auto;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 94px;
  background-position: 0% 0%;
}

.u-section-7 .u-image-3 {
  width: 173px;
  left: 13px;
  right: auto;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 94px;
  background-position: 0% 0%;
}

.u-section-7 .u-image-4 {
  width: 173px;
  left: 13px;
  right: auto;
  filter: brightness(0.15);
}

.u-section-7 .u-layout-cell-5 {
  min-height: 95px;
  background-position: 0% 0%;
}

.u-section-7 .u-image-5 {
  width: 173px;
  height: 30px;
  margin: -47px 25px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 365px;
  }

  .u-section-7 .u-group-1 {
    min-height: 150px;
    width: 661px;
    margin-top: 40px;
  }

  .u-section-7 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 920px;
    margin-top: 31px;
    margin-left: 10px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 94px;
  }

  .u-section-7 .u-image-1 {
    width: 143px;
    height: 30px;
  }

  .u-section-7 .u-image-2 {
    width: 143px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .u-section-7 .u-image-3 {
    width: 143px;
    left: auto;
  }

  .u-section-7 .u-image-4 {
    width: 143px;
    left: auto;
    filter: none;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 94px;
  }

  .u-section-7 .u-image-5 {
    width: 143px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 823px;
  }

  .u-section-7 .u-group-1 {
    width: 507px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 706px;
    margin-left: 7px;
  }

  .u-section-7 .u-image-1 {
    width: 109px;
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-7 .u-image-2 {
    width: 109px;
  }

  .u-section-7 .u-image-3 {
    width: 109px;
    left: 299px;
  }

  .u-section-7 .u-image-4 {
    width: 109px;
    left: 299px;
  }

  .u-section-7 .u-image-5 {
    width: 109px;
    margin-top: -54px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-7 .u-group-1 {
    width: 475px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 534px;
    margin-left: 6px;
  }

  .u-section-7 .u-image-1 {
    width: 103px;
  }

  .u-section-7 .u-image-2 {
    width: 103px;
    height: 54px;
  }

  .u-section-7 .u-image-3 {
    width: 103px;
    left: 216px;
  }

  .u-section-7 .u-image-4 {
    width: 103px;
    left: 216px;
  }

  .u-section-7 .u-image-5 {
    width: 103px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    width: 340px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 11px;
    padding-right: 11px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 336px;
    margin-left: 4px;
  }

  .u-section-7 .u-image-1 {
    width: 86px;
  }

  .u-section-7 .u-image-2 {
    width: 86px;
    height: 30px;
  }

  .u-section-7 .u-image-3 {
    width: 86px;
    left: 125px;
  }

  .u-section-7 .u-image-4 {
    width: 86px;
    left: 125px;
  }

  .u-section-7 .u-image-5 {
    width: 86px;
  }
} .u-section-8 {
  background-image: url("images/pexelsphoto1081228.jpeg");
  background-position: 50% 0.84%;
}

.u-section-8 .u-sheet-1 {
  min-height: 589px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 683px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 378px;
}

.u-section-9 .u-group-1 {
  width: 741px;
  min-height: 361px;
  margin: 0 auto 17px;
}

.u-section-9 .u-image-1 {
  width: 135px;
  height: 106px;
  margin: 29px auto 0;
}

.u-section-9 .u-text-1 {
  font-size: 3rem;
  margin: 25px 20px 0;
}

.u-section-9 .u-text-2 {
  margin: 20px 20px 29px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-group-1 {
    width: 611px;
  }

  .u-section-9 .u-image-1 {
    width: 111px;
  }

  .u-section-9 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-9 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-group-1 {
    width: 468px;
  }

  .u-section-9 .u-image-1 {
    width: 85px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-group-1 {
    width: 439px;
  }

  .u-section-9 .u-image-1 {
    width: 80px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-9 .u-group-1 {
    width: 340px;
  }

  .u-section-9 .u-image-1 {
    width: 67px;
    height: 53px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
}