.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1015px;
}

.u-section-1 .u-shape-1 {
  width: 562px;
  left: auto;
  right: 133px;
  background-image: none;
}

.u-section-1 .u-image-1 {
  width: 890px;
  height: 605px;
  object-position: 0% 50%;
  background-position: 0% 50%;
  margin: 110px auto 0 0;
}

.u-section-1 .u-group-1 {
  min-height: 500px;
  width: 625px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -250px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 18px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-style: normal;
  margin: 24px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-style: normal;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  letter-spacing: 1px;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 30px auto 0 0;
  padding: 15px 30px;
}

.u-section-1 .u-shape-2 {
  width: 186px;
  height: 186px;
  margin: -343px auto 60px 79px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1095px;
  }

  .u-section-1 .u-shape-1 {
    width: 584px;
    right: 66px;
  }

  .u-section-1 .u-image-1 {
    width: 805px;
    height: 575px;
  }

  .u-section-1 .u-group-1 {
    min-height: 480px;
    width: 582px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-shape-2 {
    width: 158px;
    height: 158px;
    margin-left: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1173px;
  }

  .u-section-1 .u-shape-1 {
    width: 352px;
  }

  .u-section-1 .u-image-1 {
    width: 584px;
    height: 403px;
  }

  .u-section-1 .u-group-1 {
    width: 521px;
    margin-top: 157px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -679px;
    margin-left: 24px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 881px;
  }

  .u-section-1 .u-shape-1 {
    width: 344px;
    height: 881px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 0 0 auto;
  }

  .u-section-1 .u-image-1 {
    height: 316px;
    width: 474px;
    margin-top: -817px;
  }

  .u-section-1 .u-group-1 {
    width: 431px;
    margin-top: -56px;
    margin-bottom: 77px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 24px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 30px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 763px;
  }

  .u-section-1 .u-shape-1 {
    width: 248px;
    height: 763px;
  }

  .u-section-1 .u-image-1 {
    width: 301px;
    height: 201px;
    margin-top: -717px;
  }

  .u-section-1 .u-group-1 {
    min-height: 498px;
    width: 315px;
    margin-top: -24px;
    margin-bottom: 42px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 37px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 813px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 60px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 20px 650px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 60px;
  margin-left: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 496px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  line-height: 2.2;
  font-weight: 600;
  margin: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 496px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  background-image: none;
  margin: 28px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 450px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 409px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 409px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-2 .u-text-2 {
    margin-right: 230px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1198px;
}

.u-section-3 .u-shape-1 {
  width: 625px;
  height: 1058px;
  margin: 60px 0 0 auto;
}

.u-section-3 .u-image-1 {
  width: 998px;
  height: 565px;
  object-position: 0% 50%;
  background-position: 0% 50%;
  margin: -983px auto 0 50px;
}

.u-section-3 .u-list-1 {
  width: 988px;
  margin: -108px auto 0 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 12.6667px));
  min-height: 431px;
  grid-gap: 19px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-3 .u-container-layout-1 {
  padding: 40px 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: normal;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-3 .u-container-layout-2 {
  padding: 40px 30px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: normal;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: none none solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-3 .u-container-layout-3 {
  padding: 40px 30px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: normal;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  border-style: none none solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-3 .u-text-7 {
  margin: 22px auto 80px 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1208px;
  }

  .u-section-3 .u-shape-1 {
    height: 1088px;
  }

  .u-section-3 .u-image-1 {
    width: 840px;
    height: 532px;
    margin-top: -1013px;
    margin-left: 40px;
  }

  .u-section-3 .u-list-1 {
    width: 837px;
    margin-top: -75px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 462px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 33px;
    margin-bottom: 67px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1551px;
  }

  .u-section-3 .u-shape-1 {
    width: 592px;
    height: 1430px;
  }

  .u-section-3 .u-image-1 {
    width: 625px;
    height: 469px;
    margin-top: -1375px;
    margin-left: 42px;
  }

  .u-section-3 .u-list-1 {
    width: 626px;
    margin-top: -112px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.50003px));
    min-height: 901px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 40px;
    margin-bottom: 112px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1757px;
  }

  .u-section-3 .u-shape-1 {
    width: 374px;
    height: 1575px;
  }

  .u-section-3 .u-image-1 {
    width: 473px;
    height: 382px;
    object-position: 47.8% 50%;
    margin-top: -1520px;
    margin-left: 0;
  }

  .u-section-3 .u-list-1 {
    width: 467px;
    margin-top: -81px;
    margin-left: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1163px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 93px;
    margin-bottom: 60px;
    margin-left: 37px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-3 .u-shape-1 {
    width: 270px;
    height: 1608px;
    margin-top: 55px;
  }

  .u-section-3 .u-image-1 {
    width: 303px;
    height: 208px;
    margin-top: -1570px;
  }

  .u-section-3 .u-list-1 {
    width: 280px;
    margin-top: -50px;
    margin-left: 0;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1362px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 2px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 2px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 2px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 87px;
    margin-bottom: 55px;
    margin-left: 0;
  }
}.u-section-4 {
  background-image: none;
  min-height: 693px;
}

.u-section-4 .u-shape-1 {
  height: 356px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-list-1 {
  width: 1140px;
  margin: -286px auto 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 553px;
  grid-gap: 0px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 240px;
  height: 240px;
  background-image: url("../images/1.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  font-weight: 500;
  text-transform: none;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-4 .u-text-3 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

.u-section-4 .u-icon-4 {
  height: 100%;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  width: 240px;
  height: 240px;
  background-image: url("../images/Untitled-2.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  font-weight: 500;
  text-transform: none;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-4 .u-text-6 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-4 .u-social-icons-2 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-4 .u-icon-5 {
  height: 100%;
}

.u-section-4 .u-icon-6 {
  height: 100%;
}

.u-section-4 .u-icon-7 {
  height: 100%;
}

.u-section-4 .u-icon-8 {
  height: 100%;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  width: 240px;
  height: 240px;
  object-position: 50% 94.17%;
  background-image: url("../images/q.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  font-weight: 500;
  text-transform: none;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-4 .u-text-9 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-4 .u-social-icons-3 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-4 .u-icon-9 {
  height: 100%;
}

.u-section-4 .u-icon-10 {
  height: 100%;
}

.u-section-4 .u-icon-11 {
  height: 100%;
}

.u-section-4 .u-icon-12 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 456px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1048px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 1669px;
  }

  .u-section-4 .u-shape-1 {
    height: 447px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
    margin-top: -378px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 25px;
    padding-left: 25px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 25px;
    padding-left: 25px;
  }

  .u-section-4 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 25px;
    padding-left: 25px;
  }

  .u-section-4 .u-text-7 {
    font-size: 2.25rem;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 552px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 60px 16px 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 45px 101px 0;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 300;
  background-image: none;
  margin: 45px auto 60px;
  padding: 12px 35px 14px 34px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 1px;
    margin-right: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    font-size: 1.625rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 781px;
}

.u-section-6 .u-shape-1 {
  width: 357px;
  height: 620px;
  margin: 51px 344px 0 auto;
}

.u-section-6 .u-image-1 {
  width: 621px;
  height: 439px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  margin: -511px auto 0 43px;
}

.u-section-6 .u-slider-1 {
  min-height: 377px;
  width: 471px;
  box-shadow: 0 0 8px 0 rgba(128,128,128,0.15);
  margin: -479px auto 0 626px;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 29px;
}

.u-section-6 .u-carousel-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 40px 80px 45px;
}

.u-section-6 .u-text-1 {
  font-family: Ubuntu, sans-serif;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.0625rem;
  margin: 20px auto 0 0;
}

.u-section-6 .u-carousel-item-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 40px 80px 45px;
}

.u-section-6 .u-text-3 {
  font-family: Ubuntu, sans-serif;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.0625rem;
  margin: 20px auto 0 0;
}

.u-section-6 .u-carousel-control-1 {
  width: 56px;
  height: 56px;
  left: 0;
  position: absolute;
  background-image: none;
  right: auto;
}

.u-section-6 .u-carousel-control-2 {
  width: 56px;
  height: 56px;
  left: auto;
  position: absolute;
  background-image: none;
  right: 0;
}

.u-section-6 .u-text-5 {
  font-size: 1.125rem;
  width: 515px;
  margin: 205px auto 50px;
}

.u-section-6 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-6 .u-shape-1 {
    width: 270px;
    height: 616px;
    margin-right: 299px;
  }

  .u-section-6 .u-image-1 {
    width: 512px;
    margin-top: -506px;
  }

  .u-section-6 .u-slider-1 {
    min-height: 385px;
    width: 437px;
    height: auto;
    margin-right: 34px;
    margin-left: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 195px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 967px;
  }

  .u-section-6 .u-shape-1 {
    width: 297px;
    height: 804px;
    margin-right: 103px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -733px;
    margin-left: 22px;
  }

  .u-section-6 .u-slider-1 {
    width: 479px;
    margin-top: -146px;
    margin-right: 21px;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 30px 60px;
  }

  .u-section-6 .u-container-layout-2 {
    padding: 30px 60px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 89px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1032px;
  }

  .u-section-6 .u-shape-1 {
    width: 286px;
    height: 876px;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    width: 488px;
    height: 436px;
    margin-top: -828px;
    margin-left: 0;
  }

  .u-section-6 .u-slider-1 {
    margin-top: -55px;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 986px;
  }

  .u-section-6 .u-shape-1 {
    width: 258px;
    height: 837px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 304px;
    margin-top: -782px;
  }

  .u-section-6 .u-slider-1 {
    min-height: 447px;
    width: 286px;
    margin-top: -24px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: 75px;
    margin-right: 0;
    margin-left: 82px;
  }
}.u-section-7 {
  min-height: 748px;
}

.u-section-7 .u-shape-1 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1140px;
  margin: -164px auto 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 575px;
}

.u-section-7 .u-container-layout-1 {
  padding: 26px 29px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 4px auto 0 0;
}

.u-section-7 .u-text-2 {
  line-height: 1.8;
  margin: 130px 0 0;
}

.u-section-7 .u-text-3 {
  font-style: normal;
  margin: 18px 223px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: none none solid;
  font-style: normal;
  padding: 0;
}

.u-section-7 .u-btn-2 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 300;
  background-image: none;
  margin: 35px auto 0 0;
  padding: 12px 35px 14px 34px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 321px;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px;
}

.u-section-7 .u-image-1 {
  height: 234px;
  background-image: url("../images/fdfdfdf.jpg");
  background-position: 50% 50%;
  width: 234px;
  margin: 0 auto;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 287px;
}

.u-section-7 .u-container-layout-3 {
  padding: 10px;
}

.u-section-7 .u-image-2 {
  height: 197px;
  background-image: url("../images/eee.jpg");
  background-position: 50% 50%;
  width: 197px;
  margin: 0 0 0 auto;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 575px;
}

.u-section-7 .u-container-layout-4 {
  padding: 10px;
}

.u-section-7 .u-image-3 {
  height: 234px;
  background-image: url("../images/wewe.jpg");
  background-position: 50% 50%;
  width: 234px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-7 {
    min-height: 642px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 474px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 100px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 123px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 265px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-7 .u-image-1 {
    height: 199px;
    width: 199px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 237px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 474px;
  }

  .u-section-7 .u-image-3 {
    height: 231px;
    width: 231px;
  }
}

@media (max-width: 991px) {
  .u-section-7 {
    min-height: 1437px;
  }

  .u-section-7 .u-shape-1 {
    height: 193px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -133px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 590px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-7 .u-text-3 {
    margin-right: 13px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 404px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-7 .u-image-1 {
    height: 300px;
    width: 300px;
    margin-top: 33px;
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 297px;
  }

  .u-section-7 .u-image-2 {
    height: 280px;
    width: 280px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 585px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-image-3 {
    height: 523px;
    width: 523px;
  }
}

@media (max-width: 767px) {
  .u-section-7 {
    min-height: 1477px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 467px;
  }

  .u-section-7 .u-container-layout-2 {
    padding: 30px 0 30px 10px;
  }

  .u-section-7 .u-image-1 {
    height: 450px;
    width: 450px;
    margin-top: 17px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 418px;
  }

  .u-section-7 .u-container-layout-3 {
    padding: 30px 0;
  }

  .u-section-7 .u-image-2 {
    height: 450px;
    width: 450px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 419px;
  }

  .u-section-7 .u-container-layout-4 {
    padding: 30px 0;
  }

  .u-section-7 .u-image-3 {
    height: 450px;
    width: 450px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 {
    min-height: 1968px;
  }

  .u-section-7 .u-shape-1 {
    height: 153px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -93px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-7 .u-text-2 {
    margin-top: 55px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 294px;
  }

  .u-section-7 .u-image-1 {
    height: 340px;
    width: 340px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 400px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-7 .u-image-2 {
    height: 322px;
    width: 322px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 264px;
  }

  .u-section-7 .u-image-3 {
    height: 340px;
    width: 340px;
  }
}.u-section-8 {
  background-image: linear-gradient(0deg, rgba(92,224,216,0.65), rgba(92,224,216,0.65)), url("../images/sdss.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 411px;
}

.u-section-8 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 1068px;
  margin: 80px auto 0;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 16.5px));
  min-height: 252px;
  grid-gap: 22px;
}

.u-section-8 .u-list-item-1 {
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-group-1 {
  width: 119px;
  min-height: 121px;
  background-image: none;
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  margin: 30px auto 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 20px;
}

.u-section-8 .u-text-1 {
  font-size: 2.75rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-8 .u-text-2 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-8 .u-list-item-2 {
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-group-2 {
  width: 119px;
  min-height: 121px;
  background-image: none;
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  margin: 30px auto 0;
}

.u-section-8 .u-container-layout-4 {
  padding: 20px;
}

.u-section-8 .u-text-3 {
  font-size: 2.75rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-8 .u-text-4 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-8 .u-list-item-3 {
  background-image: none;
}

.u-section-8 .u-container-layout-5 {
  padding: 30px;
}

.u-section-8 .u-group-3 {
  width: 119px;
  min-height: 121px;
  background-image: none;
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  margin: 30px auto 0;
}

.u-section-8 .u-container-layout-6 {
  padding: 20px;
}

.u-section-8 .u-text-5 {
  font-size: 2.75rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-8 .u-text-6 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-8 .u-list-item-4 {
  background-image: none;
}

.u-section-8 .u-container-layout-7 {
  padding: 30px;
}

.u-section-8 .u-group-4 {
  width: 119px;
  min-height: 121px;
  background-image: none;
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  margin: 30px auto 0;
}

.u-section-8 .u-container-layout-8 {
  padding: 20px;
}

.u-section-8 .u-text-7 {
  font-size: 2.75rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-8 .u-text-8 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-8 .u-text-9 {
  letter-spacing: 0px;
  font-size: 1rem;
  font-weight: 300;
  width: 205px;
  margin: 30px auto 80px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-8 .u-list-1 {
    height: auto;
    width: 940px;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 222px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-8 .u-list-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
    min-height: 573px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-bottom: 27px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-bottom: 27px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-bottom: 27px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-bottom: 27px;
  }

  .u-section-8 .u-text-9 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-group-1 {
    margin-top: 0;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-group-2 {
    margin-top: 0;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-group-3 {
    margin-top: 0;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-6 {
    font-size: 1.25rem;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-group-4 {
    margin-top: 0;
  }

  .u-section-8 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-8 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-text-7 {
    font-size: 2.25rem;
  }
}